node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache

yarn.lock
package-lock.json
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log
tests/**/coverage/
*.cache
*.tsbuildinfo

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln